node_modules/
package-lock.json
package.json
pages/style.css
pages/style-old.css
scripts/script copy.js
index - old.html
scripts/script - 10 may.js
scripts/script copy 2.js
scripts/script-all-work.js
scripts/script - 9 jule.js
scripts/script copy.js
scripts/education.js
scripts/script 14-09-2023.js
scripts/old-validation.js
scripts/validation old.js
scripts/rutils.js



