.popup__form {
  background-color: #fff;
  max-width: 430px;
  width: calc(430px - 72px);
  border-radius: 10px;
  padding: 36px;
  position: relative;
}
@media screen and (max-width: 560px) {
    .popup__form {
        background-color: #fff;
        max-width: 430px;
        width: calc(100% - 152px);
        border-radius: 10px;
        padding: 36px;
        position: relative;
      }
}
@media screen and (max-width: 425px) {
    .popup__form {
        background-color: #fff;
        max-width: 430px;
        width: calc(100% - 82px);
        border-radius: 10px;
        padding: 22px;
        position: relative;
      }
}