.button_edit_profile {
  border: 1px solid #fff;
  height: 24px;
  max-width: 24px;
  padding: 6px;
  margin-bottom: 9px;
}
@media screen and (max-width: 768px) {
    .button_edit_profile {
        border: 1px solid #fff;
        height: 18px;
        max-width: 18px;
        margin-bottom: 6px;
      }
}